@use 'theme-colors' as theme;
@use '@angular/material' as mat;

html{
  @media (prefers-contrast: more) {
    @include theme.high-contrast-overrides('light');
  }
}

/* LIGHT THEME */
html.light {
  color-scheme: light;
  @include mat.theme((
    color: theme.$primary-palette,
    theme-type: light
  ));
}

/* DARK THEME */
html.dark {
  color-scheme: dark;
  @include mat.theme((
    color: theme.$primary-palette,
    theme-type: dark
  ));
}

.tertiary {
  @include mat.theme((color: theme.$tertiary-palette));
}

.secondary {
  @include mat.theme((color: theme.$secondary-palette));
}

.error {
  @include mat.theme((color: theme.$error-palette));
}

.text-error{
  color : var(--mat-sys-error);
}

.text-primary{
  color : var(--mat-sys-primary);
}

.text-secondary{
  color : var(--mat-sys-secondary);
}

.text-tertiary{
  color : var(--mat-sys-tertiary);
}

html, body {
  height: 100%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
