$primary: #1f2010;
$burnt-orange: #D14517;
$soft-orange: #E8744E;
$red: #dc3545;
$white: #E6E2D3;
$text: #1c1b1b;
$dark-olive: #1f2010;
$white: #ffffff;

$body-shadow: 0 4px 6px rgba(0,0,0,0.1);
$div-shadow: 0 2px 4px rgba(0,0,0,0.1);
$div-border: 1px solid rgba(0,0,0,0.05);