main {
  flex: 1;
  max-width: 1400px;
  margin: 0 auto;
  width: 95%;
}

.content-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sidenav-container {
  height: 100vh;
}


app-root, mat-sidenav-container {
  height: 100%;
}

.header-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav {
  width: 250px;
  padding: 1rem;
}

.section-title {
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.section-group {
  margin-top: 1rem;
  font-weight: 500;
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 16px;
}

mat-toolbar {
  background: var(--mat-sys-surface-container);
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

mat-sidenav {
  background: var(--mat-sys-surface-container);
  border-radius: 0;
}

mat-sidenav,
.mat-drawer,
.mat-drawer-inner-container {
  border-radius: 0 !important;
}