@use '../../../../styles/colors.scss' as colors;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: colors.$primary;
  padding: 1rem;
  color: colors.$white;
  display: flex;
  justify-content: center;
  align-items: center;
}