<!-- ERROR -->
<div *ngIf="error" class="status text-error">
  {{ error }}
</div>

<!-- CONTENT -->
<div *ngIf="product" class="product-page">

  <!-- TITLE -->
  <h1 class="product-title">
    {{ product.name }}
  </h1>

  <!-- MAIN SECTION -->
  <div class="product-main">

    <!-- IMAGE -->
    <div class="image-section">
      <img
        [src]="'http://localhost:5000' + product.imagePath"
        [alt]="product.name"
      />
    </div>

    <!-- INFO -->
    <div class="info-section">

      <div class="price-section">

        <ng-container *ngIf="product.discountedPrice; else normalPrice">

          <div class="discount-price">
            {{ product.discountedPrice | currency }}
          </div>

          <div class="original-price">
            {{ product.originalPrice | currency }}
          </div>

        </ng-container>

        <ng-template #normalPrice>
          <div class="normal-price">
            {{ product.originalPrice | currency }}
          </div>
        </ng-template>

      </div>

      <div class="actions">
        <button mat-flat-button color="primary">
          Add to Cart
        </button>
      </div>

    </div>
  </div>

  <!-- DESCRIPTION -->
  <section class="description-section">
    <h2>Description</h2>
    <p>{{ product.description }}</p>
  </section>

</div>